.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginTitle{
    font-size: 30px;
}

.loginForm{
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}

.loginForm label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;

}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginRegisterButton{
    position: absolute;
    top:  60px;
    right: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(244, 45, 71);
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}