.header{
margin-top: 60px;
}

.headertitles{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(58, 59, 59);
}

.headerTitle-sp{
    font-size: 20px;
    position: absolute;
    top: 18%;
}

.header-blog{
    font-size: 50px;
    position: absolute;
    top: 20%;
}

.header-img{
    width: 100%;
    height: 400px;
    margin-top:80px ;
    object-fit: cover;
}